{% extends "base.html" %}
{% load static %}

{% block 'content' %}


    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">  
        <h3>About Me, The Food Man</h3><br>
        <img src=" {% static "image/cock.jpeg" %}  " alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
        <div class="w3-padding-32">
        <h4><b>We Are Food Lovers!</b></h4>
        <h6><i>With Passion For Real, Good Food</i></h6>
        <p>We are a group of chefs and food lovers, traveling all over the world to discover the best, most delicious and sometimes strangest recipes. Here we publish useful and delicious recipes that you can try in your home and we offer you many, many more.</p>
        </div>
    </div>
    <hr>

{% endblock 'content' %}