<!DOCTYPE html>
<html>
<head>
<title>Recipes World</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}


footer {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 0;
  width: 120%;
  left: -100px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.left-content, .right-content {
  margin: 0;
}

h4 {
  margin: 0;
}
</style>
</head>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <a href=" {% url 'home' %} " onclick="w3_close()" class="w3-bar-item w3-button">All Recipes</a>
  <a href=" {% url 'about' %} " onclick="w3_close()" class="w3-bar-item w3-button">About</a>
  <a href=" {% url 'blog' %} " onclick="w3_close()" class="w3-bar-item w3-button">Blog</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    <div class="w3-right w3-padding-16" style="font-size: 18px;">For All Food Lovers❣️</div>
    <a href=" {% url 'home' %} " style="text-decoration: none;"><div class="w3-center w3-padding-16" style="font-weight: bolder;margin-left: 150px;"> &#8902;The Recipes &#974;orld&#8902;</div></a>
  </div>
</div>
  
{% block 'content' %}{% endblock 'content' %}
 

{% block 'paginate' %}{% endblock 'paginate' %}


  
  <hr>

  
    {% block 'blogs' %}{% endblock 'blogs' %}

    {% block 'contact_us' %}{% endblock 'contact_us' %}
 

  <footer>
    <div class="left-content">
      <h4> </h4>
    </div>
    <div class="logo"><h4 style="font-weight: bold;">The Recipes &#974;orld Website & Blog - Created by: &#1018;udetta &copy;2024</h4></div>
    <div class="right-content">
      
    </div>
  </footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
